<footer>
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <%= link_to t(".about"), about_path, class: "text-base text-blue-950 hover:text-blue-900" %>
      </div>
      <div class="px-5 py-2">
        <%= link_to t(".support"), "mailto:jobs@tampadevs.com", class: "text-base text-blue-950 hover:text-blue-900" %>
      </div>
      <div class="px-5 py-2">
        <%= link_to t(".status"), "https://status.talent.tampa.dev/", class: "text-base text-blue-950 hover:text-blue-900" %>
      </div>
      <div class="px-5 py-2">
        <%= link_to t(".open_source"), "https://github.com/tampadevs/talent.tampa.dev", target: "_blank", class: "text-base text-blue-950 hover:text-blue-900" %>
      </div>
      <div class="px-5 py-2">
        <%= link_to t(".open_startup"), open_startup_root_path, class: "text-base text-blue-950 hover:text-blue-900" %>
      </div>
      <!-- TODO: Update analytics <div class="px-5 py-2">
        <%= link_to t(".analytics"), "analytics", target: "_blank", class: "text-base text-blue-950 hover:text-blue-900" %>
      </div> -->
    </nav>
    <nav class="-mx-5 mt-6 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <%= link_to t(".privacy_policy"), policies_privacy_path, class: "text-base text-blue-950 hover:text-blue-900" %>
      </div>
      <div class="px-5 py-2">
        <%= link_to t(".terms_and_conditions"), policies_terms_path, class: "text-base text-blue-950 hover:text-blue-900" %>
      </div>
    </nav>
    <div class="mt-8 flex justify-center space-x-6">
      <%= link_to "https://twitter.com/tampadevs", target: "_blank", class: "text-blue-400 hover:text-blue-950" do %>
        <span class="sr-only"><%= t(".twitter") %></span>
        <%= inline_svg_tag "icons/brands/twitter.svg", class: "h-6 w-6", aria_hidden: true %>
      <% end %>
      <%= link_to "https://github.com/tampadevs", target: "_blank", class: "text-blue-400 hover:text-blue-950" do %>
        <span class="sr-only"><%= t(".github") %></span>
        <%= inline_svg_tag "icons/brands/github.svg", class: "h-6 w-6", aria_hidden: true %>
      <% end %>
      <%= link_to "mailto:jobs@tampadevs.com", class: "text-blue-400 hover:text-blue-950" do %>
        <span class="sr-only"><%= t(".email") %></span>
        <%= inline_svg_tag "icons/outline/mail.svg", class: "h-6 w-6", aria_hidden: true %>
      <% end %>
    </div>
    <p class="mt-8 text-center text-base text-blue-400">
      &copy; <%= Date.today.year %> <%= link_to t(".tampadevs_com"), "https://www.tampadevs.com", target: "_blank", class: "hover:text-blue-950" %>. <%= t(".copyright") %>
    </p>
  </div>
</footer>
