<div class="px-4 sm:px-6" data-controller="reimbursement-filter">
  <%= form_with url: jobs_path, id: form_id, method: :get do |form| %>
    <%= hidden_field_tag :filter, params[:filter] %>
    <h1 class="text-lg leading-6 font-medium text-blue-900 border-b border-gray-200 py-2">Filter Job Posts</h1>

    <!-- Role Level with Collapse -->
    <div class="py-6" data-controller="toggle accessibility" data-toggle-visibility-class="hidden">
      <div class="pt-2">
        <h3 class="-mx-2 -my-3 flow-root">
          <%= render CollapseControlComponent.new("Role Level", collapsed: false) %>
        </h3>
        <div data-toggle-target="element">
          <div class="space-y-4 pt-6">
            <%= form.collection_check_boxes :role_level, role_levels, :last, :first, include_hidden: false do |b| %>
              <div class="flex items-center">
                <%= b.check_box checked: role_level_selected?(b.value), class: "h-4 w-4 border-gray-300 rounded text-blue-950 focus:ring-blue-500" %>
                <%= b.label(class: "ml-3 text-blue-950 text-sm") { b.text } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Location with Collapse -->
    <div class="border-t border-gray-200 py-6" data-controller="toggle accessibility" data-toggle-visibility-class="hidden">
      <h3 class="-mx-2 -my-3 flow-root">
        <%= render CollapseControlComponent.new("Location", collapsed: false) %>
      </h3>
      <div data-toggle-target="element">
        <div class="space-y-4 pt-6">
          <%= form.collection_check_boxes :role_location, locations, :first, :last, include_hidden: false do |b| %>
            <div class="flex items-center">
              <%= b.check_box checked: location_selected?(b.value), class: "h-4 w-4 border-gray-300 rounded text-blue-950 focus:ring-blue-500" %>
              <%= b.label(class: "ml-3 text-blue-950 text-sm") { b.text } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

<!-- Role Type with Collapse -->
<div class="border-t border-gray-200 py-6" data-controller="toggle accessibility" data-toggle-visibility-class="hidden">
  <h3 class="-mx-2 -my-3 flow-root">
    <%= render CollapseControlComponent.new("Role Type", collapsed: false) %>
  </h3>
  <div data-toggle-target="element">
    <div class="space-y-4 pt-6">
      <%= form.collection_check_boxes :role_type, role_types, :last, :first, include_hidden: false do |b| %>
        <div class="flex items-center">
          <%= b.check_box checked: role_type_selected?(b.value), class: "h-4 w-4 border-gray-300 rounded text-blue-950 focus:ring-blue-500" %>
          <%= b.label(class: "ml-3 text-blue-950 text-sm") { role_types.find { |rt| rt[1] == b.value.to_sym }[0] } %>
        </div>
      <% end %>
    </div>
  </div>
</div>


    <!-- Reimbursement Terms Filter -->
    <div class="border-t border-gray-200 py-6" data-controller="toggle accessibility" data-toggle-visibility-class="hidden">
      <h3 class="-mx-2 -my-3 flow-root">
        <%= render CollapseControlComponent.new("Payment", collapsed: false) %>
      </h3>
      <div data-toggle-target="element">
        <div class="space-y-4 pt-6">
          <%= form.label :reimbursement_min, "Payment Minimum", class: "block text-sm font-medium text-gray-700" %>
          <%= form.number_field :reimbursement_min, min: 0, placeholder: "Min", value: reimbursement_min_value, class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md", data: { reimbursement_filter_target: "reimbursementMin" } %>
          <%= form.label :reimbursement_max, "Payment Maximum", class: "block text-sm font-medium text-gray-700" %>
          <%= form.number_field :reimbursement_max, min: 0, placeholder: "Max", value: reimbursement_max_value, class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md", data: { reimbursement_filter_target: "reimbursementMax" } %>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="flex justify-end space-x-2 pb-8">
      <%= form.submit "Filter", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
      <%= link_to "Clear", jobs_path, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-500 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
    </div>
  <% end %>
</div>
