<div class="bg-white hover:bg-blue-50 px-6 py-4 border-b border-gray-100 shadow rounded-lg mb-4">
  <div class="flex items-center space-x-4">
    <%= render AvatarComponent.new(avatarable: @job_post.business, variant: :medium, classes: "h-12 w-12 rounded-full") %>
    <div class="flex-1 min-w-0">
      <h3 class="text-lg font-medium text-blue-900 truncate" title="<%= @job_post.title %>">
        <%= link_to @job_post.title, job_path(@job_post) %>
      </h3>
      <span class="text-sm text-gray-600"><%= @job_post.business.company %></span>
    </div>
  </div>

  <div class="mt-4 space-y-2">
    <div class="flex items-center">
      <%= image_tag("icons/solid/briefcase.svg", class: "h-5 w-5 text-gray-700 mr-2") %>
      <span class="text-sm font-medium text-gray-700"><%= @job_post.role_type.humanize %></span>
    </div>
    <div class="flex items-center">
      <%= image_tag("icons/solid/dollar_bill.svg", class: "h-5 w-5 text-gray-700 mr-2") %>
      <span class="text-sm font-medium text-gray-700"><%= formatted_reimbursement %></span>
    </div>
    <div class="flex items-center">
      <%= image_tag("icons/solid/geo_indicator.svg", class: "h-5 w-5 text-gray-700 mr-2") %>
      <span class="text-sm font-medium text-gray-700"><%= @job_post.role_location.humanize %></span>
    </div>
    <div class="flex items-center">
      <%= image_tag("icons/solid/office_building.svg", class: "h-5 w-5 text-gray-700 mr-2") %>
      <span class="text-sm font-medium text-gray-700"><%= @job_post.role_level.level.to_s.humanize %></span>
    </div>
  </div>

  <div class="mt-4 flex justify-end space-x-2">
    <% if @current_user.present? && @job_post.business == @current_user.business %>
      <%= link_to "Applications", applicants_job_path(@job_post, filter: :new_status), class: "px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
      <%= link_to "Edit", edit_job_path(@job_post), class: "px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
    <% end %>
    <% if @user_signed_in && @current_user&.developer.present? && !@job_post.job_applications.where(developer: @current_user.developer).exists? %>
      <%= link_to "Apply", job_path(@job_post), method: :post, class: "px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
    <% end %>
  </div>
</div>
