<div class="max-w-4xl mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold text-center">Applicants for <%= @job_post.title %></h1>

    <style>
      .custom-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
      }
    </style>

  <!-- Tabs for filtering -->
  <div class="flex justify-center space-x-4 my-4">
    <%= link_to "New", applicants_job_path(@job_post, filter: :new_status), class: "tab #{'bg-gray-200' if params[:filter] == 'new_status'} px-3 py-2 rounded-md text-sm font-medium" %>
    <%= link_to "Considered", applicants_job_path(@job_post, filter: :considered), class: "tab #{'bg-gray-200' if params[:filter] == 'considered'} px-3 py-2 rounded-md text-sm font-medium" %>
    <%= link_to "Not Considered", applicants_job_path(@job_post, filter: :other), class: "tab #{'bg-gray-200' if params[:filter] == 'other'} px-3 py-2 rounded-md text-sm font-medium" %>
  </div>

  <% if @applications.any? %>
    <div class="mt-6">
      <% @applications.each do |application| %>
        <%= tag.div class: "relative border-b border-gray-100" do %>
          <div class="bg-white hover:bg-blue-50 py-6 px-8 flex space-x-4 sm:space-x-8">
            <div class="shrink-0">
              <%= render AvatarComponent.new(avatarable: application.developer, variant: :medium) %>
            </div>

            <div class="self-start flex-1 min-w-0 space-y-4">
              <div class="flex items-baseline">
                <h2 class="text-lg sm:text-xl font-medium text-blue-900 line-clamp-2 break-word" title="<%= application.developer.hero %>">
                  <%= link_to application.developer.name, developer_path(application.developer) %>
                </h2>
                </h2>

                <div class="text-right flex-1">
                  <span class="text-sm font-medium bg-gray-100 rounded-full px-3 py-1 inline-flex items-center">
                    Status:
                    <select id="status-select" class="text-sm font-medium bg-gray-100 rounded-full py-1 custom-select " data-controller="status" data-action="change->status#update" data-status-job-post-id-param="<%= application.job_post.id %>" data-status-application-id-param="<%= application.id %>">
                      <% if application.human_status == 'New' %>
                        <option value="new_status" selected>New</option>
                        <option value="considered">Considered</option>
                        <option value="other">Not Considered</option>
                      <% elsif application.human_status == 'Considered' %>
                        <option value="considered" selected>Considered</option>
                        <option value="other">Not Considered</option>
                      <% else %>
                        <option value="other" selected>Not Considered</option>
                        <option value="considered">Considered</option>
                      <% end %>
                    </select>
                  </span>
                </div>
              </div>

              <div class="space-y-2">
                <%= render Developers::BadgesComponent.new(application.developer) %>
                <%= render Developers::SpecialtiesComponent.new(application.developer.specialties) %>
              </div>

              <div class="text-sm sm:text-base text-blue-950 space-y-4">
                <p class="line-clamp-3 break-words"><%= application.developer.bio %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center mt-6 text-gray-600">No applications yet.</p>
  <% end %>
</div>
