<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6">

  <!-- Heading and Create Job Post button -->
  <div class="bg-white shadow px-6 py-4 mb-4 rounded-lg">
    <div class="flex justify-between items-center">
      <div>
        <h2 class="text-2xl font-bold">Job Posts</h2>
        <p class="text-gray-600">Find your next employee or employer here!</p>
      </div>
      <div>
        <p class="text-gray-600 mb-2 text-right">Looking to hire? Create your business's job post now!</p>
        <%= link_to 'Create Job Post', new_job_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
      </div>
    </div>
  </div>



  <!-- Filter and Job Posts Columns -->
  <div class="grid grid-cols-4 gap-4">
    <div class="col-span-1 bg-white shadow px-6 py-4 rounded-lg">
      <%= render JobPosts::JobPostsFilterComponent.new(query: @query, user: current_user) %>
    </div>



    <!-- Job posts list in the second column (3/4th width) -->
    <div class="col-span-3">
      <% if current_user.developer.present? %>
        <div class="tabs-container mt-4">
          <div class="flex justify-center">
            <%= link_to "All", jobs_path(@permitted_params.merge(filter: :all)), class: "tab #{'bg-blue-500 text-white' if params[:filter] == 'all'} #{'bg-gray-200 text-gray-700' unless params[:filter] == 'all'} px-3 py-2 rounded-tl-md rounded-tr-md border-b-2 border-transparent text-sm font-medium" %>
            <%= link_to "Applied", jobs_path(@permitted_params.merge(filter: :applied)), class: "tab #{'bg-blue-500 text-white' if params[:filter] == 'applied'} #{'bg-gray-200 text-gray-700' unless params[:filter] == 'applied'} px-3 py-2 rounded-tl-md rounded-tr-md border-b-2 border-transparent text-sm font-medium" %>
          </div>
        </div>
      <% end %>
          <% @job_posts.each do |job_post| %>
            <%= render JobPosts::JobPostComponent.new(job_post: job_post, current_user: current_user, user_signed_in: user_signed_in?) %>
          <% end %>
        <% if @no_job_posts %>
          <div class="bg-white shadow px-6 py-4 mb-4 rounded-lg">
            <p class="text-gray-600">No job posts found.</p>
          </div>
        <% end %>
    </div>
  </div>
</div>
