<h2>Job Posts</h2>

<% @job_posts.each do |job_post| %>
  <%= tag.div class: "relative border-b border-gray-100" do %>
    <%= link_to jobs_path(job_post), class: "bg-white hover:bg-blue-50 py-6 px-8 flex justify-between" do %>
      <div class="flex space-x-4">
        <div class="self-start flex-1 min-w-0 space-y-4">
          <div class="flex items-baseline space-x-4">
            <h2 class="text-lg sm:text-xl font-medium text-blue-900 line-clamp-2 break-words" title="<%= job_post.title %>">
              <%= job_post.title %>
            </h2>
            <span class="text-sm sm:text-base text-gray-600">
              <%= job_post.business.company %>
            </span>
          </div>
        </div>
      </div>

      <div class="flex space-x-2">
        <%= link_to "Applications",  class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
          <%= link_to "Edit", edit_job_path(job_post), class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
      </div>
    <% end %>
  <% end %>
<% end %>

